<a href="https://colab.research.google.com/github/hritik7080/Python-Language./blob/main/pandas_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

Pandas is a package for data manipulation and analysis in Python. The name Pandas is derived from the econometrics term Panel Data.<br> Pandas incorporates two additional data structures into Python, namely Pandas Series and Pandas DataFrame. These data structures allow us to work with labeled and relational data in an easy and intuitive manner.<br>
Pandas Series and DataFrames are designed for fast data analysis and manipulation, as well as being flexible and easy to use. Below are just a few features that makes Pandas an excellent package for data analysis:
- Allows the use of labels for rows and columns
- Can calculate rolling statistics on time series data
- Easy handling of NaN values
- Is able to load data of different formats into DataFrames
- Can join and merge different datasets together
- It integrates with NumPy and Matplotlib<br><br>
Documentation: [https://pandas.pydata.org/pandas-docs/stable/](https://pandas.pydata.org/pandas-docs/stable/)

In [1]:
# Importing Panadas Library
import pandas as pd

## Series
1D array-like object that can hold many data types. One of the main differences between Pandas Series and NumPy ndarrays is that you can assign an index label to each element in the Pandas Series. Another big difference is that Pandas Series can hold data of different data types.

pd.Series(data, index)

### Create Series

In [2]:
groceries = pd.Series(data = [30, 6, 'Yes', 'No'], index = ['eggs', 'apples', 'milk', 'bread'])

In [3]:
print(groceries)

eggs       30
apples      6
milk      Yes
bread      No
dtype: object

### shape, size, values, index, ndim

In [4]:
print('Groceries has shape:', groceries.shape)
print('Groceries has dimension:', groceries.ndim)
print('Groceries has a total of', groceries.size, 'elements')
print('The data in Groceries is:', groceries.values)
print('The index of Groceries is:', groceries.index)

Groceries has shape: (4,)
Groceries has dimension: 1
Groceries has a total of 4 elements
The data in Groceries is: [30 6 'Yes' 'No']
The index of Groceries is: Index(['eggs', 'apples', 'milk', 'bread'], dtype='object')

### check whether an index label exists in Series

In [5]:
# check whether an index label exists in Series
x = 'bananas' in groceries

In [6]:
x

False

In [7]:
# or you can directly type-
'bananas' in groceries
# but only in jupyter notebook(doesn't print anything if you run this in a script)

False

### Accessing Elements

In [8]:
# Accessing Elements
# using index labels:
# single index label
print('How many eggs do we need to buy:', groceries['eggs'])
# access multiple index labels
print('Do we need milk and bread:\n', groceries[['milk', 'bread']]) 
# use loc to access multiple index labels
print('How many eggs and apples do we need to buy:\n', groceries.loc[['eggs', 'apples']]) 

# access elements in Groceries using numerical indices:
# use multiple numerical indices
print('How many eggs and apples do we need to buy:\n',  groceries[[0, 1]]) 
# use a negative numerical index
print('Do we need bread:\n', groceries[[-1]]) 
# use a single numerical index
print('How many eggs do we need to buy:', groceries[0]) 
# use iloc (stands for integer location) to access multiple numerical indices
print('Do we need milk and bread:\n', groceries.iloc[[2, 3]])

How many eggs do we need to buy: 30
Do we need milk and bread:
 milk     Yes
bread     No
dtype: object
How many eggs and apples do we need to buy:
 eggs      30
apples     6
dtype: object
How many eggs and apples do we need to buy:
 eggs      30
apples     6
dtype: object
Do we need bread:
 bread    No
dtype: object
How many eggs do we need to buy: 30
Do we need milk and bread:
 milk     Yes
bread     No
dtype: object

Since we can access elements in various ways, in order to remove any ambiguity to whether we are referring to an index label or numerical index, Pandas Series have two attributes, .loc and .iloc to explicitly state what we mean. The attribute
- .loc stands for location and it is used to explicitly state that we are using a labeled index. 
- .iloc stands
for integer location and it is used to explicitly state that we are
using a numerical index.

### Change Elements

In [9]:
# Change Elements
groceries['eggs'] = 2
groceries

eggs        2
apples      6
milk      Yes
bread      No
dtype: object

### Delete Elements

In [10]:
# Delete Elements
# doesn't change the original Series being modified
groceries.drop('apples')
print(groceries)
print("=================")
# delete items from Series in place by setting keyword inplace to True
groceries.drop('apples', inplace = True)
print(groceries)

eggs        2
apples      6
milk      Yes
bread      No
dtype: object
=================
eggs       2
milk     Yes
bread     No
dtype: object

In [11]:
groceries

eggs       2
milk     Yes
bread     No
dtype: object

### Arithmetic Operations

In [12]:
import numpy as np
# Arithmetic Operations
# we can perform element-wise arithmetic operations on Pandas Series
fruits = pd.Series(data = [10, 6, 3,], index = ['apples', 'oranges', 'bananas'])
fruits + 2 # Adds 2 to all elements in the series
fruits - 2
fruits * 2
fruits / 2
# apply mathematical functions from NumPy to all elements of a Series
np.exp(fruits)
np.sqrt(fruits)
np.power(fruits,2)
# only apply arithmetic operations on selected items in Series
fruits['bananas'] + 2
fruits.iloc[0] - 2
fruits[['apples', 'oranges']] * 2

apples     20
oranges    12
dtype: int64

You can apply arithmetic operations on a Series of mixed data
type provided that the arithmetic operation is defined for all
data types in the Series, otherwise you will get an error

## Dataframe
Pandas DataFrames are two-dimensional data structures with labeled rows and columns, that can hold many data types.

### Axes

In [14]:
df = pd.DataFrame({"col_A":[1,2,3], "col_B": [7,8,9]})

In [15]:
# understanding axes
df.sum() 
# sums “down” the 0 axis (rows)
df.sum(axis=0) 
# equivalent (since axis=0 is the default)
df.sum(axis=1) 
# sums “across” the 1 axis (columns)

0     8
1    10
2    12
dtype: int64

### Loading Data into DF

In [ ]:
# Loading Data into DF
df = pd.read_csv('Demo.csv') # this Demo.csv is not included with the notebook, you have to use your own dataset.

# limit which rows are read when reading in a file
pd.read_csv('Demo.csv', nrows=10)        
# only read first 10 rows

pd.read_csv('Demo.csv', skiprows=[1, 2]) 
# skip the first two rows of data

# randomly sample a DataFrame
train = df.sample(frac=0.75, random_column_y=1) 
# will contain 75% of the rows

test = df[~df.index.isin(train.index)] 
# will contain the other 25%

# change the maximum number of rows and columns printed (‘None’ means unlimited)
pd.set_option('max_rows', None) 
# default is 60 rows

pd.set_option('max_columns', None) 
# default is 20 columns
print(df)

# reset options to defaults
pd.reset_option('max_rows')
pd.reset_option('max_columns')

# change the options temporarily (settings are restored when you exit the ‘with’ block)
with pd.option_context('max_rows', None, 'max_columns', None):
    print(df)

### Create Dataframe

In [ ]:
# Create a DataFrame manually from a dictionary of Pandas Series

# create a dictionary of Pandas Series 
items = {'Bob' : pd.Series(data = [245, 25, 55], index = ['bike', 'pants', 'watch']),
         'Alice' : pd.Series(data = [40, 110, 500, 45], index = ['book', 'glasses', 'bike', 'pants'])}

# print the type of items to see that it is a dictionary
print(type(items)) # class 'dict'

# create a Pandas DataFrame by passing it a dictionary of Series
shopping_carts = pd.DataFrame(items)

# create a DataFrame that only has a subset of the data/columns
bob_shopping_cart = pd.DataFrame(items, columns=['Bob'])

# create a DataFrame that only has selected keys
sel_shopping_cart = pd.DataFrame(items, index = ['pants', 'book'])

# combine both of the above - selected keys for selected columns
alice_sel_shopping_cart = pd.DataFrame(items, index = ['glasses', 'bike'], columns = ['Alice'])

# create DataFrames from a dictionary of lists (arrays)
# In this case, however, all the lists (arrays) in the dictionary must be of the same length

# create a dictionary of lists (arrays)
data = {'Integers' : [1,2,3],
        'Floats' : [4.5, 8.2, 9.6]}

# create a DataFrame 
df = pd.DataFrame(data)

# create a DataFrame and provide the row index
df = pd.DataFrame(data, index = ['label 1', 'label 2', 'label 3'])

# create DataFrames from a list of Python dictionaries
# create a list of Python dictionaries
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35}, 
          {'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5}]

# create a DataFrame 
store_items = pd.DataFrame(items2)

# create a DataFrame and provide the row index
store_items = pd.DataFrame(items2, index = ['store 1', 'store 2'])

print('shopping_carts has shape:', shopping_carts.shape)
print('shopping_carts has dimension:', shopping_carts.ndim)
print('shopping_carts has a total of:', shopping_carts.size, 'elements')
print()
print('The data in shopping_carts is:\n', shopping_carts.values)
print()
print('The row index in shopping_carts is:', shopping_carts.index)
print()
print('The column index in shopping_carts is:', shopping_carts.columns)

### Create df from Series, dicts

In [ ]:
# Create dictionary from a bunch of Series/data
books = pd.Series(data = ['Great Expectations', 'Of Mice and Men', 'Romeo and Juliet', 'The Time Machine', 'Alice in Wonderland' ])
authors = pd.Series(data = ['Charles Dickens', 'John Steinbeck', 'William Shakespeare', ' H. G. Wells', 'Lewis Carroll' ])
user_1 = pd.Series(data = [3.2, np.nan ,2.5])
user_2 = pd.Series(data = [5., 1.3, 4.0, 3.8])
user_3 = pd.Series(data = [2.0, 2.3, np.nan, 4])
user_4 = pd.Series(data = [4, 3.5, 4, 5, 4.2])

# Create a dictionary with the data given above
a_dict = {'Author':authors,'Book Title':books,'User 1':user_1, 'User 2':user_2, 'User 3':user_3, 'User 4':user_4}

# Use the dictionary to create a Pandas DataFrame
book_ratings = pd.DataFrame(a_dict)
book_ratings[:5]

In [ ]:
# convert to numpy array (remove the column names, get just the values to convert it into a numpy array)
book_ratings_numpy = book_ratings.values
book_ratings_numpy

In [ ]:
#### create a DataFrame from a dictionary
pd.DataFrame({'column_x':['value_x1', 'value_x2', 'value_x3'], 'column_y':['value_y1', 'value_y2', 'value_y3']})

#### create a DataFrame from a list of lists
pd.DataFrame([['value_x1', 'value_y1'], ['value_x2', 'value_y2'], ['value_x3', 'value_y3']], columns=['column_x', 'column_y'])

### Access Elements

In [ ]:
# Access Elements
print()
print('How many bikes are in each store:\n', store_items[['bikes']])
print()
print('How many bikes and pants are in each store:\n', store_items[['bikes', 'pants']])
print()
print('What items are in Store 1:\n', store_items.loc[['store 1']])
print()
print('How many bikes are in Store 2:', store_items['bikes']['store 2'])
# when accessing individual elements in a DataFrame, the labels
# should always be provided with the column label first,
# i.e. in the form dataframe[column][row]

### Modify Elements

In [ ]:
# Modify Elements
# Add new column (adds it to the end of the df)
store_items['shirts'] = [15,2]

# New column via artihmetic operations b/w columns
store_items['suits'] = store_items['pants'] + store_items['shirts']

# Add new row

# To add rows to our df, create a new df then append it to the original df
# create a dictionary from a list of Python dictionaries
new_items = [{'bikes': 20, 'pants': 30, 'watches': 35, 'glasses': 4}]

# create new DataFrame with the new_items and provide and index labeled store 3
new_store = pd.DataFrame(new_items, index = ['store 3'])

# append store 3 to our store_items DataFrame
store_items = store_items.append(new_store)

# insert a new column with label shoes right before the column with numerical index 4
store_items.insert(4, 'shoes', [8,5,0])

store_items

### Delete Element

In [ ]:
# Delete Element

# .pop() method only allows us to delete columns, while the .drop()
# method can be used to delete both rows and columns by use of the axis keyword

# remove the suits column
store_items.pop('suits')

# remove the watches and shoes columns
store_items = store_items.drop(['watches', 'shoes'], axis = 1)

# remove the store 2 and store 1 rows
store_items = store_items.drop(['store 2', 'store 1'], axis = 0)

store_items

### Rename the row and column labels

In [ ]:
# Rename the row and column labels
# change the column label
store_items = store_items.rename(columns = {'bikes': 'hats'})
# change the row label
store_items = store_items.rename(index = {'store 3': 'last store'})

### Change index

In [ ]:
# change the index to be one of the columns in the DataFrame
store_items = store_items.set_index('pants')

In [ ]:
store_items

### Dealing with NaN values (missing data)

In [ ]:
# create a list of Python dictionaries
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35, 'shirts': 15, 'shoes':8, 'suits':45},
{'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5, 'shirts': 2, 'shoes':5, 'suits':7},
{'bikes': 20, 'pants': 30, 'watches': 35, 'glasses': 4, 'shoes':10}]

# We create a DataFrame and provide the row index
store_items = pd.DataFrame(items2, index = ['store 1', 'store 2', 'store 3'])
print(store_items)

# check if we have any NaN values in our dataset
# .any() performs an or operation. If any of the values along the
# specified axis is True, this will return True.
print(store_items.isnull().any())

In [ ]:
# count the number of NaN values in DataFrame
x =  store_items.isnull().sum().sum()
print(x)
# count the number of non-NaN values in DataFrame
x = store_items.count()
print(x)

In [ ]:
# remove rows or columns from our DataFrame that contain any NaN values

# drop any rows with NaN values
store_items.dropna(axis = 0)

# drop any columns with NaN values
store_items.dropna(axis = 1)

# the original DataFrame is not modified by default
# to remove missing values from original df, use inplace = True
store_items.dropna(axis = 0, inplace = True)

# replace all NaN values with 0
store_items.fillna(0)

# forward filling: replace NaN values with previous values in the df,
# this is known as . When replacing NaN values with forward filling,
# we can use previous values taken from columns or rows.
# replace NaN values with the previous value in the column
store_items.fillna(method = 'ffill', axis = 0)

# backward filling: replace the NaN values with the values that
# go after them in the DataFrame
# replace NaN values with the next value in the row
store_items.fillna(method = 'backfill', axis = 1)

# replace NaN values by using linear interpolation using column values
store_items.interpolate(method = 'linear', axis = 0)

# the original DataFrame is not modified. replace the NaN values
# in place by setting inplace = True inside function
store_items.fillna(method = 'ffill', axis = 0, inplace = True)
store_items.interpolate(method = 'linear', axis = 0, inplace = True)

### head, tail, describe, max, memory_usage

In [ ]:
df.head()
df.tail()
df.describe()
# prints max value in each column
df.max()

# display the memory usage of a DataFrame
# total usage
df.info()
# usage by column
df.memory_usage()

### corr

In [ ]:
# get the correlation between different columns
df.corr()

### Groupby

In [ ]:
# creating a new DataFrame
data = {'Year': [2018, 2019, 2020, 2021],
        'Salary': [30000, 40000, 50000, 60000], 
        'Name': ['John', 'Sara', 'Kate', 'Rahul'],
        'Department': ['CSE', 'MECH', 'CIVIL', 'IT']}
data = pd.DataFrame(data)
data

In [ ]:
# Groupby
print(data.groupby(['Year']).head())
print("\n============\n")
print(data.groupby(['Year'])['Salary'].head())
print("\n============\n")

# display the average salary per year
print(data.groupby(['Year'])['Salary'].mean())
print("\n============\n")

# display the total salary each employee received in all the years they worked for the company
print(data.groupby(['Name'])['Salary'].sum())
print("\n============\n")

# group the data by Year and by Department
print(data.groupby(['Year', 'Department'])['Salary'].sum())

### Replace Values

In [ ]:
# Replace Values
s = pd.Series(['cat', 'dog', np.nan, 'rabbit'])
s = s.map({'cat': 'kitten', 'dog': 'puppy'})
# another e.g.
print(s)

### Reading Files

In [ ]:
# reading in a file from local computer or directly from a URL

# various file formats that can be read in out wrote out
'''
Format Type     Data Description      Reader           Writer
text                  CSV            read_csv          to_csv
text                 JSON            read_json         to_json
text                 HTML            read_html         to_html
text             Local clipboard  read_clipboard     to_clipboard
binary             MS Excel          read_excel        to_excel
binary            HDF5 Format        read_hdf           to_hdf
binary           Feather Format     read_feather      to_feather
binary              Msgpack         read_msgpack      to_msgpack
binary               Stata           read_stata        to_stata
binary                SAS             read_sas 
binary        Python Pickle Format   read_pickle       to_pickle
SQL                   SQL             read_sql          to_sql
SQL             Google Big Query      read_gbq          to_gbq
'''

# to read about different types of files, and further functionality of reading in files, visit: http://pandas.pydata.org/pandas-docs/version/0.20/io.html
df = pd.read_csv('local_path/file.csv’)
df = pd.read_csv('https://file_path/file.csv')

# when reading in tables, can specify separators, and note a column to be used as index separators can include tabs (“\t”), commas(“,”), pipes (“|”), etc.
df = pd.read_table('https://file_path/file', sep='|', index_col='column_x')

### Summarizing

In [ ]:
#creating a new DataFrame

data = {'Integers' : [1,2,3],
        'Floats' : [4.5, 8.2, 9.6],
        'Strings': ['abc', 'abc', 'bcd']}

# create a DataFrame 
df = pd.DataFrame(data)

# create a DataFrame and provide the row index
df = pd.DataFrame(data, index = ['label 1', 'label 2', 'label 3'])

In [ ]:
# examine the df data
df           
# print the first 30 and last 30 rows
type(df)     
# DataFrame
df.head()    
# print the first 5 rows
df.head(10)  
# print the first 10 rows
df.tail()    
# print the last 5 rows
df.index     
# “the index” (aka “the labels”)
df.columns   
# column names (which is “an index”)
df.dtypes    
# data types of each column
df.shape
# display only the number of rows
df.shape[0]
# number of rows and columns
df.values    
# underlying numpy array — df are stored as numpy arrays for effeciencies.

# summarize (describe) the DataFrame
# describe all numeric columns
df.describe()

# describe all object columns
df.describe(include=['object'])

# describe all columns
df.describe(include='all')

### Working with Columns

In [ ]:
# select a column
df['Integers']         
# select one column
type(df['Integers'])   
# determine datatype of column (e.g., Series)
df.Integers            
# select one column using the DataFrame attribute — not effective if column names have spaces

# summarize a Series/column
df.Integers.describe()   
# describe a single column
df.Floats.mean()       
# only calculate the mean
df['Floats'].mean()    
# alternate method for calculating mean

# count the number of occurrences of each value
df.Integers.value_counts()   
# most useful for categorical variables, but can also be used with numeric variables

# filter df by one column, and print out values of another column
# when using numeric values, no quotations
df[df.Integers == 3].Floats
df[df.Integers == 1 ].Floats    
 
# display the 3 most frequent occurances of column in ‘df’
df.Integers.value_counts()[0:3]

### Filtering and Sorting

In [ ]:
data = {'column_x': ['string_1', 'string_2', 'string_3', 'string_4'],
        'column_y': [1.1, 1.2, 1.3, 1.4], 
        'column_z': [10, 20, 30 ,40]}
df = pd.DataFrame(data)

In [ ]:
# boolean filtering: only show df with column_z < 20
filter_bool = df.column_z < 20    
# create a Series of booleans…
df[filter_bool]                
# …and use that Series to filter rows
df[filter_bool].describe()     
# describes a data frame filtered by filter_bool
df[df.column_z < 20]           
# or, combine into a single step
df[df.column_z < 20].column_x  
# select one column from the filtered results
df[df['column_z'] < 20].column_x     
# alternate method 
df[df.column_z < 20].column_x.value_counts()   
# value_counts of resulting Series, can also use .mean(), etc. instead of .value_counts()

# boolean filtering with multiple conditions; indexes are in square brackets, conditions are in parens
df[(df.column_z < 20) & (df.column_y=='string')] 
# ampersand for AND condition 
df[(df.column_z < 20) | (df.column_z > 60)] 
# pipe for OR condition

# can also filter df using pandas.Series.isin 
df[df.column_x.isin(['string_1', 'string_2'])]

# display a cross-tabulation of two Series
pd.crosstab(df.column_x, df.column_y)

# alternative syntax for boolean filtering (noted as “experimental” in the documentation)
df.query('column_z < 20') 
# df[df.column_z < 20]
df.query("column_z < 20 and column_y=='string'")  
# df[(df.column_z < 20) & (df.column_y==’string’)]
df.query('column_z < 20 or column_z > 60')        
# df[(df.column_z < 20) | (df.column_z > 60)]

### Sorting

In [ ]:
# sort a column
df.sort_values('column_z')   
# sort a DataFrame by a single column
df.sort_values('column_z', ascending=False)     
# use descending order instead

# Sort dataframe by multiple columns
df = df.sort_values(['column_x','column_y','column_z'],ascending=[1,1,0])

In [ ]:
df

### Selecting Multiple Columns and Filtering Rows

In [ ]:
# select multiple columns
my_cols = ['column_x', 'column_y']  
# create a list of column names…
df[my_cols]                   
# …and use that list to select columns
df[['column_x', 'column_y']]  
# or, combine into a single step — double brackets due to indexing a list.

# use loc to select columns by name
df.loc[:, 'column_x']    
# colon means “all rows”, then select one column
df.loc[:, ['column_x', 'column_y']]  
# select two columns
df.loc[:, 'column_x':'column_y']     
# select a range of columns (i.e., selects all columns including first through last specified)

# loc can also filter rows by “name” (the index)
df.loc[0, :]       
# row 0, all columns
df.loc[0:2, :]     
# rows 0/1/2, all columns
df.loc[0:2, 'column_x':'column_y'] 
# rows 0/1/2, range of columns


#filtering out and dropping rows based on condition (e.g., where column_x values are null)
drop_rows = df[df['column_x'].isnull()]
new_df = df[~df.isin(drop_rows)].dropna(how='all')

### Renaming, Adding, and Removing Columns

In [ ]:
# rename one or more columns
df.rename(columns={‘original_column_1’:’column_x’, ‘original_column_2’:’column_y’}, inplace=True) 
# saves changes 

# replace all column names (in place)
new_cols = [‘column_x’, ‘column_y’, ‘column_z’]
df.columns = new_cols

# replace all column names when reading the file
df = pd.read_csv(‘df.csv’, header=0, names=new_cols)

# add a new column as a function of existing columns
df[‘new_column_1’] = df.column_x + df.column_y
df[‘new_column_2’] = df.column_x * 1000   
#can create new columns without for loops

# removing columns
df.drop(‘column_x’, axis=1)   
# axis=0 for rows, 1 for columns — does not drop in place
df.drop([‘column_x’, ‘column_y’], axis=1, inplace=True) 
# drop multiple columns

### Lower-case all DataFrame column names

In [ ]:
# Lower-case all DataFrame column names
df.columns = map(str.lower, df.columns)

# Even more fancy DataFrame column re-naming
# lower-case all DataFrame column names (for example)
df.rename(columns=lambda x: x.split('.')[-1], inplace=True)

### Handling Missing Values

In [ ]:
# missing values are usually excluded by default
df.column_x.value_counts()             
# excludes missing values

df.column_x.value_counts(dropna=False) 
# includes missing values

# find missing values in a Series
df.column_x.isnull()  
# True if missing

df.column_x.notnull() 
# True if not missing

# use a boolean Series to filter DataFrame rows
df[df.column_x.isnull()]  
# only show rows where column_x is missing

df[df.column_x.notnull()] 
# only show rows where column_x is not missing

# understanding axes
df.sum()       
# sums “down” the 0 axis (rows)

df.sum(axis=0) 
# equivalent (since axis=0 is the default)

df.sum(axis=1) 
# sums “across” the 1 axis (columns)

# adding booleans
pd.Series([True, False, True])       
# create a boolean Series
pd.Series([True, False, True]).sum() 
# converts False to 0 and True to 1

# find missing values in a DataFrame
df.isnull() 
# DataFrame of booleans
df.isnull().sum() 
# count the missing values in each column

# drop missing values
df.dropna(inplace=True)   
# drop a row if ANY values are missing, defaults to rows, but can be applied to columns with axis=1
df.dropna(how=’all’, inplace=True)  
# drop a row only if ALL values are missing

# fill in missing values
df.column_x.fillna(value=’NA’, inplace=True) 

# fill in missing values with ‘NA’
# value does not have to equal a string — can be set as some calculated value like df.column_x.mode(), or just a number like 0 

# turn off the missing value filter
df = pd.read_csv(‘df.csv’, header=0, names=new_cols, na_filter=False)

# Clean up missing values in multiple DataFrame columns
df = df.fillna({
 ‘col1’: ‘missing’,
 ‘col2’: ‘99.999’,
 ‘col3’: ‘999’,
 ‘col4’: ‘missing’,
 ‘col5’: ‘missing’,
 ‘col6’: ‘99’
})

# Concatenate two DataFrame columns into a new, single column - (useful when dealing with composite keys, for example)
df[‘newcol’] = df[‘col1’].map(str) + df[‘col2’].map(str)

# Doing calculations with DataFrame columns that have missing values

# In example below, swap in 0 for df[‘col1’] cells that contain null
df[‘new_col’] = np.where(pd.isnull(df[‘col1’]),0,df[‘col1’]) + df[‘col2’]

### Handling Duplicated Values

In [ ]:
# detecting duplicate rows
df.duplicated()

# True if a row is identical to a previous row
df.duplicated().sum()

# count of duplicates
df[df.duplicated()]

# only show duplicates
df.drop_duplicates()

# drop duplicate rows
df.column_z.duplicated()

# check a single column for duplicates
df.duplicated([‘column_x’, ‘column_y’, ‘column_z’]).sum()  
# specify columns for finding duplicates

### Split-Apply-Combine
<img src="http://i.imgur.com/yjNkiwL.png">

In [ ]:
# to practice the above example, create a DataFrame like first one

# for each value in column_x, calculate the mean column_y 
df.groupby('column_x').column_y.mean()

# for each value in column_x, count the number of occurrences
df.column_x.value_counts()

# for each value in column_x, describe column_y
df.groupby('column_x').column_y.describe()

# similar, but outputs a DataFrame and can be customized
df.groupby('column_x').column_y.agg(['count', 'mean', 'min', 'max'])
df.groupby('column_x').column_y.agg(['count', 'mean', 'min', 'max']).sort_values('mean')

# if you don’t specify a column to which the aggregation function should be applied, it will be applied to all numeric columns
df.groupby('column_x').mean()
df.groupby('column_x').describe()

# can also groupby a list of columns, i.e., for each combination of column_x and column_y, calculate the mean column_z
df.groupby(["column_x","column_y"]).column_z.mean()

#to take groupby results out of hierarchical index format (e.g., present as table), use .unstack() method
df.groupby("column_x").column_y.value_counts().unstack()

#conversely, if you want to transform a table into a hierarchical index, use the .stack() method
df.stack()

### Merging and Concatenating Dataframes

In [ ]:
#concatenating two dfs together (just smooshes them together, does not pair them in any meaningful way) - axis=1 concats df2 to right side of df1; axis=0 concats df2 to bottom of df1
new_df = pd.concat([df1, df2], axis=1)

#merging dfs based on paired columns; columns do not need to have same name, but should match values; left_on column comes from df1, right_on column comes from df2
new_df = pd.merge(df1, df2, left_on='column_x', right_on='column_y')

#can also merge slices of dfs together, though slices need to include columns used for merging
new_df = pd.merge(df1[['column_x1', 'column_x2']], df2, left_on='column_x2', right_on='column_y')

#merging two dataframes based on shared index values (left is df1, right is df2)
new_df = pd.merge(df1, df2, left_index=True, right_index=True)

### Merging and Concatenating Dataframes

In [ ]:
#concatenating two dfs together (just smooshes them together, does not pair them in any meaningful way) - axis=1 concats df2 to right side of df1; axis=0 concats df2 to bottom of df1
new_df = pd.concat([df1, df2], axis=1)

#merging dfs based on paired columns; columns do not need to have same name, but should match values; left_on column comes from df1, right_on column comes from df2
new_df = pd.merge(df1, df2, left_on='column_x', right_on='column_y')

#can also merge slices of dfs together, though slices need to include columns used for merging
new_df = pd.merge(df1[['column_x1', 'column_x2']], df2, left_on='column_x2', right_on='column_y')

#merging two dataframes based on shared index values (left is df1, right is df2)
new_df = pd.merge(df1, df2, left_index=True, right_index=True)

### Frequently Used Features

#### map existing values to a different set of values

In [ ]:
df['column_x'] = df.column_y.map({'F':0, 'M':1})

#### encode strings as integer values (automatically starts at 0)

In [ ]:
df['column_x_num'] = df.column_x.factorize()[0]

#### determine unique values in a column

In [ ]:
df.column_x.nunique()

#### count the number of unique values

In [ ]:
df.column_x.unique()    
# returns the unique values

#### replace all instances of a value in a column (must match entire value)

In [ ]:
df.column_y.replace('old_string', 'new_string', inplace=True)

#### alter values in one column based on values in another column

In [ ]:
# changes occur in place
# can use either .loc or .ix methods
df.loc[df["column_x"] == 5, "column_y"] = 1
df.ix[df.column_x == "string_value", "column_y"] = "new_string_value"

#### transpose data frame (i.e. rows become columns, columns become rows)

In [ ]:
df.T

#### string methods are accessed via ‘str’

In [ ]:
df.column_y.str.upper()

#### converts to uppercase

In [ ]:
df.column_y.str.contains("value", na=False) 
# checks for a substring, returns boolean series

#### convert a string to the datetime_column format

In [ ]:
df["time_column"] = pd.to_datetime_column(df.time_column)
df.time_column.dt.hour

#### datetime_column format exposes convenient attributes

In [ ]:
(df.time_column.max() — df.time_column.min()).days

#### boolean filtering with datetime_column format

In [ ]:
df[df.time_column > pd.datetime_column(2014, 1, 1)]   
# also allows you to do datetime_column “math”

#### setting and then removing an index, resetting index can help remove hierarchical indexes while preserving the table in its basic structure

In [ ]:
df.set_index('time_column', inplace=True)
df.reset_index(inplace=True)

#### sort a column by its index

In [ ]:
df.column_y.value_counts().sort_index()

#### change the data type of a column

In [ ]:
df['column_x'] = df.column_x.astype(float)

#### change the data type of a column when reading in a file

In [ ]:
pd.read_csv('df.csv', dtype={"column_x":float})

#### create dummy variables for ‘column_x’ and exclude first dummy column

In [ ]:
column_x_dummies = pd.get_dummies(df.column_x).iloc[:, 1:]

#### concatenate two DataFrames (axis=0 for rows, axis=1 for columns)

In [ ]:
df = pd.concat([df, column_x_dummies], axis=1)

#### Loop through rows in a DataFrame

In [ ]:
# Loop through rows in a DataFrame
for index, row in df.iterrows():
 print index, row['column_x']

# Much faster way to loop through DataFrame rows if you can work with tuples
for row in df.itertuples():
 print(row)

#### Get rid of non-numeric values throughout a DataFrame

In [ ]:
for col in df.columns.values:
 df[col] = df[col].replace('[⁰-9]+.-', '', regex=True)

#### Change all NaNs to None (useful before loading to a db)

In [ ]:
df = df.where((pd.notnull(df)), None)

#### Split delimited values in a DataFrame column into two new columns

In [ ]:
df["new_col1"], df['new_col2'] = zip(*df['original_col'].apply(lambda x: x.split(': ', 1)))

#### Collapse hierarchical column indexes

In [ ]:
df.columns = df.columns.get_level_values(0)

#### change a Series to the ‘category’ data type (reduces memory usage and increases performance)

In [ ]:
df['column_y'] = df.column_y.astype('category')

#### temporarily define a new column as a function of existing columns

In [ ]:
df.assign(new_column = df.column_x + df.spirit + df.column_y)

### Frequently Used Features

#### map existing values to a different set of values

In [ ]:
df['column_x'] = df.column_y.map({'F':0, 'M':1})

#### encode strings as integer values (automatically starts at 0)

In [ ]:
df['column_x_num'] = df.column_x.factorize()[0]

#### determine unique values in a column

In [ ]:
df.column_x.nunique()

#### count the number of unique values

In [ ]:
df.column_x.unique()    
# returns the unique values

#### replace all instances of a value in a column (must match entire value)

In [ ]:
df.column_y.replace('old_string', 'new_string', inplace=True)

#### alter values in one column based on values in another column

In [ ]:
# changes occur in place
# can use either .loc or .ix methods
df.loc[df['column_x'] == 5, 'column_y'] = 1
df.ix[df.column_x == 'string_value', 'column_y'] = 'new_string_value'

#### transpose data frame (i.e. rows become columns, columns become rows)

In [ ]:
df.T

#### string methods are accessed via 'str'

In [ ]:
df.column_y.str.upper()

#### converts to uppercase

In [ ]:
df.column_y.str.contains('value', na=False) 
# checks for a substring, returns boolean series

#### convert a string to the datetime_column format

In [ ]:
df['time_column'] = pd.to_datetime_column(df.time_column)
df.time_column.dt.hour

#### datetime_column format exposes convenient attributes

In [ ]:
(df.time_column.max() — df.time_column.min()).days

#### boolean filtering with datetime_column format

In [ ]:
df[df.time_column > pd.datetime_column(2014, 1, 1)]   
# also allows you to do datetime_column “math”

#### setting and then removing an index, resetting index can help remove hierarchical indexes while preserving the table in its basic structure

In [ ]:
df.set_index('time_column', inplace=True)
df.reset_index(inplace=True)

#### sort a column by its index

In [ ]:
df.column_y.value_counts().sort_index()

#### change the data type of a column

In [ ]:
df['column_x'] = df.column_x.astype('float')

#### change the data type of a column when reading in a file

In [ ]:
pd.read_csv('df.csv', dtype={'column_x':float})

#### create dummy variables for ‘column_x’ and exclude first dummy column

In [ ]:
column_x_dummies = pd.get_dummies(df.column_x).iloc[:, 1:]

#### concatenate two DataFrames (axis=0 for rows, axis=1 for columns)

In [ ]:
df = pd.concat([df, column_x_dummies], axis=1)

#### Loop through rows in a DataFrame

In [ ]:
# Loop through rows in a DataFrame
for index, row in df.iterrows():
 print index, row['column_x']

# Much faster way to loop through DataFrame rows if you can work with tuples
for row in df.itertuples():
 print(row)

#### Get rid of non-numeric values throughout a DataFrame

In [ ]:
for col in df.columns.values:
 df[col] = df[col].replace('[⁰-9]+.-', '', regex=True)

#### Change all NaNs to None (useful before loading to a db)

In [ ]:
df = df.where((pd.notnull(df)), None)

#### Split delimited values in a DataFrame column into two new columns

In [ ]:
df['new_col1'], df['new_col2'] = zip(*df['original_col'].apply(lambda x: x.split(': ', 1)))

#### Collapse hierarchical column indexes

In [ ]:
df.columns = df.columns.get_level_values(0)

#### change a Series to the ‘category’ data type (reduces memory usage and increases performance)

In [ ]:
df['column_y'] = df.column_y.astype('category')

#### temporarily define a new column as a function of existing columns

In [ ]:
df.assign(new_column = df.column_x + df.spirit + df.column_y)